
// MEDIA

$media-break: 1024px;

// Dashboard

$dashboard_menu-width: 200px; // max

$dashboard_menu-width-min: 50px; // minified

$popup_height: 500px;

$popup_box_width: 500px;

$popup_box_width-minified: 250px;

$dashboard_header-height: 60px;

// Popup

$popupMenuWidth: 200px;

$popupMenuWidth-min: 50px;
