@import '../globals/declarations.scss';

.PrivacyTerms{
  box-sizing: border-box;
  padding:20px 40px;

  .text{

    h1{
      color: rgba(0, 0, 0, 0.77);
    }
    p{
      line-height: 30px;
      color: rgba(39, 39, 39, 0.77);
    }

    ul{
      padding:0;
      margin: 20px;

      li{
        box-sizing: border-box;
        padding:5px 10px;
        margin: 5px;
        line-height: 30px;
        color: rgba(39, 39, 39, 0.77);
      }
    }
  }
}